@import "general";

.visual{
  position: relative;
  max-width: 1152px;
  width:100%;
  margin: 0 auto 24px;
  .visual-img{
    position:relative;
    top: 0;
    left: 0;
  }
  .visual-title{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    text-align: center;
    .visual-title-inner{
      color: white;
      font-size: 72px;
      font-weight: 700;
      font-family: "Roboto";
      letter-spacing: 0.4em;
      position: absolute;
      width: 100%;
      top: 42%;
      left: 0;
      @include sp{
        font-size: 36px;
      }
    }
  }
}

.topLink{
  position: relative;
  display: block;
  &-img{
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
  }

  &-disc{
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.7);
    height: 32px;
    line-height: 32px;
    width: 100%;
  }
}

.h--lv2{
  text-align: center;
  padding: 48px 0;
  @include sp{
    padding: 24px;
  }
  .h-main{
    font-family: "Roboto";
    font-weight: 100;
    font-size: 48px;
    color: #cccccc;
    margin-bottom: 12px;
    @include sp{
      font-size:28px;
    }
    &::after{
      content: "";
      border-bottom: 1px solid #cccccc;
      display: block;
      width: 128px;
      height: 1px;
      margin: 12px auto;
    }
  }
  .h-ruby{
    color: #f0e68c;
    font-size: 24px;
    @include sp{
      font-size: 18px;
    }
  }
}

.h--lv3{
  font-size: 24px;
  color: #f0e68c;
  margin-top: 52px;
  @include sp{
    font-size:18px;
    margin-top: 16px;
  }
}

.h--lv4{
  font-size: 20px;
  color: #cccccc;
  margin-top: 18px;
  @include sp{
    font-size: 16px;
  }
}

.para{
  font-size: 24px;
  padding-top: 64px;
  color: #cccccc;
  text-align: center;
  @include sp{
    font-size: 16px;
    padding-top: 12px;
  }
  .h--lv3 + &, .h--lv4 + &{
    margin-left: 12px;
  }
  &--l{
    font-size: 16px;
    padding-top: 14px;
    margin-bottom: 28px;
    text-align: left;
    @include sp{
      font-size: 14px;
    }
  }
}

.link--ex{
  padding-right: 1.5em;
  background-image: url(/common/img/iconExLink.svg);
  background-repeat: no-repeat;
  background-size: 1.2em 1.2em;
  background-position:99% 50%;
}

.btn-wrap{
  text-align: center;
  position: relative;
  .btn{
    display: inline-block;
    padding: 12px 40px 12px 18px;
    border: 1px solid #cccccc;
    text-decoration: none;
    border-radius: 16px;
    font-size: 18px;
    color: #cccccc;
    transition: .3s;
    &:hover{
      border-color: #f0e68c;
      color: #f0e68c;
      &::before{
        opacity: 1;
      }
      &::after{
        opacity: 0;
      }
    }
    &::after,&::before{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: 24px 24px;
      background-repeat: no-repeat;
      background-position: 95% 50%;
      transition: .3s;
    }
    &::before{
      opacity: 0;
      background-image: url("/common/img/btnArrowFill.svg");
    }
    &::after{
      opacity: 1;
      background-image: url("/common/img/btnArrow.svg");
    }
    &--bottom{
      position: absolute;
      bottom: 0;
      left: 20%;
    }
  }
}

.tree{
  list-style: none;
  color: #cccccc;
  h2 + &{
    margin-top: 1em;
  } 
  .tree-el{
    line-height: 1.5em;
  }
  .tree-br{
    margin-bottom: 1.5em;
  }
  &--lv1{
    &>.tree-el{
      font-size: 28px;
      color: #f0e68c;
      margin-bottom: 1em;
      @include sp{
        font-size: 20px;
      }
    }
  }
  &--lv2{
    margin-left: 12px;
    &>.tree-el{
      font-size: 22px;
      margin-bottom: 0.5em;
      @include sp{
        font-size: 18px;
      }
      &::before{
        content: "";
        display: inline-block;
        background-image: url("/common/img/listArrow.svg");
        background-size: 0.8em 0.8em;
        background-position: 0 100%;
        background-repeat: no-repeat;
        width: 1em;
        height: 1em;
      }
    }
  }
  &--lv3{
    margin-left: 32px;
    &>.tree-el{
      font-size: 16px;
      margin-bottom: 0;
      @include sp{
        font-size: 14px;
      }
    }
  }
  &--lv4{
    margin-left: 12px;
    &>.tree-el{
      font-size: 16px;
      @include sp{
        font-size: 14px;
      }
      &::before{
        content: "";
        display: inline-block;
        background-image: url("/common/img/listArrow.svg");
        background-size: 0.8em 0.8em;
        background-position: 0 100%;
        background-repeat: no-repeat;
        width: 1em;
        height: 1em;
      }
    }
  }
}

